

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* step 25: decorate search button */
.btn{
    padding: 5px 12px;
    border-radius: 7px;
    color: white;
    background: var(--main-bg-color);
    cursor: pointer;
    border: 2px solid white;
    /* font-weight: bold; */
}

.btn:hover{
    background: #3777ac;
    font-weight: 900;
}

/* step 32 : margin to card h2 */
.my-2{
    margin: 26px 0;
}

/* step 34 : define margin 1 */
.my-1{
    margin: 5px 0;
}
/* step 33 : text-center */
.text-center{
    text-align: center;
}